*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #f1f1f1;
  /* position: relative; */
  padding-bottom: 64px;
  /* min-height: 100vh; */
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  padding: auto;
}
/* .nav-items{
  list-style-type: none;
  display: flex;
 
  
}

.nav-items > li{
  padding: 10px;
}
 */
.nav-logo{
  width : 60px;
}

.footer{
  background-color: #333;
  text-align: center;
  color: #fff;
  padding: 15px;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  position: fixed;
  z-index: 1;

}

.main {
margin: 15px;
padding: auto;
}
